html,
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  background-color: #171c28;
  opacity: 0.95;
}

.mycontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.myform {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
}
.innerform {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
label {
    font-size: 14px;
    color: #555;
    font-weight: bold;
}
input[type="text"], input[type="number"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.submit-btn {
    padding: 12px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn:hover {
    background-color: #0056b3;
}
/* .submit-container {
    display: flex;
    justify-content: center;
} */
